.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  box-shadow: 0 0 1rem 0 rgba(64, 64, 64, 0.7);
  outline: none;
  padding: 3rem 3rem 4rem;
  max-width: 40rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 0.5rem;
}

.modal *:focus {
  outline: none;
  box-shadow: 0 0 0 0.1rem rgb(87, 164, 252);
}

.modal button {
  width: 100%;
  padding: 1rem 0;
  border-radius: 0.5rem;
  background-color: white;
  color: rgb(10, 0, 151);
  font-weight: bold;
  border: 0.1rem solid rgb(10, 0, 151);
}

.modal button:hover {
  box-shadow: inset 0 0 10rem  rgb(10, 0, 151);
  color: white;
}

