.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  box-shadow: 0 0 1rem 0 rgba(64, 64, 64, 0.7);
  outline: none;
  padding: 3rem 3rem 4rem;
  max-width: 40rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 0.5rem;
}
