.container {
  margin: 0 auto;
  margin-bottom: 5rem;
  width: 50%;
}
.user-info-form{
  border-bottom: 0.1rem solid
}
.title {
  text-align: center;
  color: grey;
  padding: 0 0 2rem 0;
  margin: 0;
}

.container__content {
  display: flex;
  justify-content: space-between;
}

.container .items {
  width: 40%;
}

.no-images {
  text-align: center;
  padding: 4rem 0;
  color: #ccc;
  font-weight: bold;
  font-size: $xl-size;
}